<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Random Guesser Game</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='bootstrap.css')}}"
    />
    <style>
      .max-w-700 {
        max-width: 700px;
      }
    </style>
  </head>
  <body class="text-center py-5 px-4">
    <h2 class="font-weight-bold mb-3">You {{result}}</h2>
    <h4>
      <span style="display: inline-block; min-width: 25%;"
        >Computer Random Number:</span
      >
      <strong>{{random_number}}</strong>
    </h4>
    <h4>
      <span style="display: inline-block; min-width: 25%;"
        >Your Last Guessed Number:</span
      >
      <strong>{{guessed_number}}</strong>
    </h4>

    <a href="/" style="font-size: 18px">Play Again</a>
  </body>
</html>
